body {
    background-color: #000000;
    color: #ffffff;
}

h2 {
    margin-top: 10rem;
}

button {
    width: 200px;
    height: 60px;
    border: none;
    outline: none;
}

#createName {
    display: block;
}

.form {
    margin-top: 100px;
}

.name {
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 400px;
}

.submit {
    border-radius: 5px;
    height: 50px;
    width: 100px;
    margin-top: 50px;
}