* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #555;
}

.account {
    display: flex;
}

.account a {
    color: #000000;
    text-decoration: none;
}

p {
    color: #555;
    font-size: 1.2rem;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.row-2 {
    margin-bottom: 20px;
    margin-top: 100px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    /*transform: transform .5sec;*/
    cursor: pointer;
}

.col-4:hover {
    transform: translateY(-10px);
}

.col-4 img {
    width: 100%;
    border-radius: 20px;
}

.col-4 a {
    text-decoration: none;
    color: none;
}

.col-4 p {
    color: rgb(66, 12, 190);
}

.col-4 .mentors-text {
    width: 250px;
}

.rating .fa {
    color: #ff523b;
    margin-left: 5px;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #ff523b;
    color: #FFf;
}


/*
media query */

@media only screen and( max-width: 800px) {}

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }
    .account h1 {
        margin-right: 14px;
    }
    .account a {
        margin-left: 30px;
        font-size: 25px;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
    .col-4 img {
        width: 250px;
    }
    footer .row span {
        display: none;
    }
}


/*accounts*/